@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
  --btn-blue: #0077c5;
  --black: #4c4c4c;
  --grey-btn-color: #6b6b72;
  --grey-body: #eceef1;
  --white: #fff;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Base Styles */
body {
  background: var(--grey-body);
  font-style: 14px;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input {
  width: 100%;
  padding: 0.7rem 1.2rem;
  border: 1px solid #c1c5c8;
  border-radius: 0.2rem;
}

.btn {
  cursor: pointer;
  border-radius: 0.3rem;
  color: var(--white);
  background: var(--btn-blue);
  padding: 0.3rem 1.2rem;
  font-size: 0.9rem;
}
.lock-icon {
  width: 0.8rem;
  margin-right: 0.3rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

/* Sign in Container styles */
#sign-in-container {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
  padding: 1rem 2rem;
}
.sign-info p {
  margin-right: 0.4rem;
}
.sign-info a {
  color: var(--btn-blue);
  font-weight: 100;
}

/* Main container */
#main-container {
  margin: auto;
  width: 25rem;
  font-size: 0.8rem;
}
form {
  background: var(--white);
  border: 1px solid #c7c7c7;
}
#form-header {
  text-align: center;
  margin-bottom: 0.8rem;
  padding: 1rem 2rem;
}

.form-logo {
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 300;
  margin: 0.5rem;
}
#form-body {
  padding: 1rem 2rem;
}

#terms {
  font-style: italic;
  line-height: 2;
  font-size: 0.8rem;
  text-align: center;
  padding: 2rem;
}
.submit-btn {
  padding: 0.7rem 1.2rem;
  width: 100%;
  border: 0;
}

#form-footer {
  background: var(--grey-body);
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

#footer {
  text-align: center;
  margin-top: 2rem;
  line-height: 1.8;
}
.footer-links {
  display: flex;
  justify-content: center;
}
.footer-links li a {
  margin-right: 1rem;
}
.footer-links li a:hover {
  text-decoration: underline;
}
#footer p,
.footer-links li a {
  font-size: 0.9rem;
  color: var(--black);
}
